.b-block {
  @include clearfix;

  &.type-logo {
    margin: 0 0 40px 0;
  }

  &.type-adding-feed {
    text-align: center;
  }

  &.type-search {
    margin-bottom: 10px;

    .control-search {
      max-width: 320px;
    }
  }

  &.type-content {
    background: #ffffff;
    border: 1px solid #c8d3de;
    border-radius: 4px;
    width: 100%;
    overflow: hidden;

    .content-cell {

      &.cell-feedlist {
        border-right: 1px solid #c8d3de;
        float: left;
        width: 320px;
      }

      &.cell-news {
        border-left: 1px solid #c8d3de;
        padding: 20px;
        margin: 0 0 0 319px;
      }
    }
  }

  &.type-adding-category {
    margin-bottom: 20px;

    .input-group {
      .input-group-btn {
        button {
          padding: 6px 10px;
          background: #464a54;
          border: none;
          outline: none;
          border-top: 1px solid #62656e;
        }
        .dropdown-menu {
          min-width: 0;
          width: 34px;
          padding: 0;
          background: #464a54;
          border: none;

          li {
            a {
              padding: 7px 0;
              text-align: center;

              &:hover {
                background: #5e6371;
              }
            }
          }
        }

        &.open {
          button {
            background: #5e6371;
          }
        }
      }
      .form-control {
        height: 32px;
        outline: none;
        border: none;
        background: #30333a;
        color: #ffffff;
        box-shadow: none;
        border-radius: 0;
      }
    }
  }
}